* { 
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content:space-between;
    
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom left, #f7f7f7, rgba(165, 187, 187, 0.356) );
}

nav {
    display: flex;
    justify-content:flex-start;
    min-height: 50px;
    align-items: flex-end;
    align-content: stretch;
    border: 20px;
    font-size: 20px;
    font-style: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    box-shadow: 0px 0px 5px 0px #b4c3c5 inset;
    background-image: linear-gradient(to bottom left, #f7f7f7, hsl(180, 14%, 69%, 0.5) );
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    max-height: auto;
    
}

.definition {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    padding: 60px;
    margin: 100px;
    background-color: white;
    max-width: 700px;
    box-shadow: 0px 0px 500px 0px hsla(180, 14%, 69%, 0.801);
}

.partOfSpeech {
    font-style: italic;
    font-size: smaller;
}
nav a:visited {
    color: black;
    text-decoration: none;
}
nav a:link {
    color: black;
    text-decoration: none;
  }

header {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items:center;
    min-height: fit-content;
    max-height: 106px;
    margin: 20px;
    padding: 10px;
}

.headings {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    
}

form {
    display: flex;
    height: 30px;
    width: 500px;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 20px;
}

#search {
    min-width: 400px;
    height: 30px;
    border-color: black;

}

input {
    display: flex;
    align-items: baseline;
    text-align: center;
    border-color: black;
    box-shadow: 1px 1px 80px 1px hsl(180, 14%, 79%);
}

input::placeholder {
    display: flex;
    justify-content: center;
    color: black;
    font-weight:400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer {
    display: flex;
    
    justify-content:start;
    background-image: linear-gradient(to bottom left, #f7f7f7, hsl(180, 14%, 69%, 0.5) );
    min-height: 50px;
    align-items: flex-end;
    background-color: #dfeff1;
    border: 20px;
    font-size: 10px;
    color: black;
    font-style: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    box-shadow: 0px 0px 5px 0px #b4c3c5 inset;
}